extends ../layout
 
block content
 div#content
  h1 #{title}
  if error
   h2 #{error}
  if success
   h2 #{success}
  form(method="post")
   label 标题：  
   input(type="text" name="title")
   label 标签：
   input(type="text" name="tag1")
   input(type="text" name="tag2")
   input(type="text" name="tag3")
   br
   label 正文：  
   textarea(type="password" name="post" rows="20" cols="100")
   br
   input(type="submit" value="发表")