extends ../pub/layout
 
block content
  include ../pub/nav.jade
  div.container#content
    div.row
      div.col-md-8.col-md-offset-2
        form.form-horizontal(method="post")
          div.form-group
            label.col-sm-2.control-label 标题:
            div.col-sm-10  
              input.form-control(type="text" name="title")          
          div.form-group
            label.col-sm-2.control-label 类型:
            div.col-sm-10
              div.col-sm-2
                input(type="radio" value="1" name="articleType" checked)
                span 前端              
              div.col-sm-2
                input(type="radio" value="2" name="articleType")
                span 设计              
              div.col-sm-2
                input(type="radio" value="3" name="articleType")
                span 科技焦点              
              div.col-sm-2
                input(type="radio" value="4" name="articleType")
                span 社会新闻
          div.form-group
            label.col-sm-2.control-label 标签:
            div.col-sm-3
              input.form-control(type="text" name="tag1")
            div.col-sm-3
              input.form-control(type="text" name="tag2")
            div.col-sm-3
              input.form-control(type="text" name="tag3")
          div.form-group
            label.col-sm-2.control-label 正文:
            div.col-sm-10
              <!-- 加载编辑器的容器 -->
              textarea(id="ueditorContainer" class="ueditor-content" name="post") 这里写你的初始化内容
          div.form-group(style="clear:both;")
            div.col-sm-10.col-sm-offset-2 
              input.btn.btn-default(type="submit" value="发表")
  script(type="text/javascript" , src="/ueditor/ueditor/ueditor.config.js")
  script(type="text/javascript" , src="/ueditor/ueditor/ueditor.all.js")
  <!-- 实例化编辑器 -->
  script(type="text/javascript").
    var ue = UE.getEditor('ueditorContainer');
    ue.ready(function() {
      ue.setHeight(400);
    })
  include ../pub/footer.jade


