doctype html
html
 head
  title 月半小胖博客中心
  meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
  meta(name="description", content="谭鹏个人博客, HTML, CSS, JavaScript, mongodb, 网页设计, mysql, vi设计, banner设计, react, vue, easyui, vis, echarts, nodejs")
  meta(name="keywords", content="谭鹏个人博客,HTML, CSS, JavaScript, mongodb, 网页设计, mysql, vi设计, banner设计, react, vue, easyui, vis, echarts, nodejs")
  link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
  link(rel="stylesheet", href="/stylesheets/style.css")
  script(type="text/javascript" , src="/javascripts/requirejs/require.js", defer, async="true",data-main="/javascripts/imageC")
  script(type="text/javascript" , src="/bower_components/jquery/dist/jquery.min.js")
  script(type="text/javascript" , src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
 body
  block content
