
extends layout
block content
 div#main
  div.logo 月半小胖博客中心#{title}
  nav
    a(href='/') 首页
    a(href='/blog') 博客
    a(href='index-2.jade/nose') 前端
    a(href='/design') 设计
 div#content
    if error
      h2 #{error}
 include footer.jade








