doctype html
html
 head
  title 月半小胖博客中心
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(type='text/javascript' , src='/javascripts/requirejs/require.js', defer, async='true',data-main="/javascripts/imageC")
 body
  block content
