extends layout
 
block content
 div#content
  h1 #{title}
  if error
   h2 #{error}
  if info
   h2 #{info}
  form(method="post")
   label 标题：  
   input(type="text" name="title")
   br
   br
   label 正文：  
   textarea(type="password" name="post" rows="20" cols="100")
   br
   input(type="submit" value="发表")